.AnswerPane {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--grey-light);
    margin-bottom: 30px;
}

.AnswerPane__Choice {
    padding: 25px 15px;
    color: var(--grey-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.AnswerPane__Choice:nth-last-of-type(odd) {
    background-color: var(--grey-light-2);
}

.AnswerPane__Choice--Correct {
    background-color: var(--accent-green) !important;
    color: white;
}

.AnswerPane__Choice--Incorrect {
    background-color: var(--accent-red) !important;
    color: white;
}

@media screen and (max-width: 700px) {
    .AnswerPane {
        margin-bottom: 0;
    }

    .AnswerPane__Choice {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 24px;
    }
}

@media (hover: hover) {
    .AnswerPane__Choice--Enabled:hover {
        background-color: var(--accent-blue);
        color: white;
        cursor: pointer;
    }
}
