.GameFinished {
    width: 100%;
    max-width: 500px;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light);
    border-radius: 10px;
    margin: 60px 0;
}

.GameFinished__Caption {
    font-size: 20px;
    font-weight: medium;
    color: var(--grey-mid);
    margin-bottom: 10px;
}

.GameFinished__Score {
    font-size: 30px;
    font-weight: bold;
    color: var(--grey-dark);
    margin-bottom: 10px;
    text-align: center;
}

.GameFinished__Button {
    width: 340px;
    height: 70px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: var(--accent-blue);
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .GameFinished {
        margin-bottom: 160px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .GameFinished__Button {
        width: 80%;
        height: 60px;
        font-size: 22px;
    }

    .GameFinished__Score {
        font-size: 26px;
    }

    .GameFinished__Caption {
        font-size: 16px;
    }
}

