.Loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}

.Loader__Spinner {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    margin-bottom: 20px;
}

.Loader__Row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Loader__Circle {
    width: 20px;
    height: 20px;
    background-color: var(--grey-light);
    border-radius: 25px;
}

.Loader__Message {
    font-weight: bold;
    color: var(--grey-mid);
}
