.Nav {
    width: 200px;
    padding: 15px;
    background-color: var(--grey-light);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--grey-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
}

.Nav__Title {
    margin: 0;
}

.Nav__Button {
    cursor: pointer;
}

.Nav__Button:hover {
    color: var(--accent-blue);
}

/* Click anim */
.Nav__Button--Rotating {
    animation: spin 0.3s ease-out;
    -webkit-animation: spin 0.3s linear;
    -moz-animation: spin 0.3s linear;
}
