.Nav {
    width: 200px;
    padding: 15px;
    background-color: var(--grey-light);
    border-radius: 10px;
    color: var(--grey-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
}

.Nav__Title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.Nav__Button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Nav__Button ion-icon {
    font-size: 24px;
}

.Nav__Button:hover {
    color: var(--accent-blue);
}

@media screen and (max-width: 700px) {
    .Nav {
        width: 100%;
        top: 0;
        border-radius: 0;
        padding: 15px 25px;
    }
}
