.Nav {
    width: 200px;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--grey-light);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--grey-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Nav__Title {
    margin: 0;
}

.Nav__Button {
    cursor: pointer;
}

.Nav__Button:hover {
    color: var(--accent-blue);
}

/* Click anim */
.Nav__Button--Rotating {
    animation: nav-button-spin 0.3s ease-out;
    -webkit-animation: nav-button-spin 0.3s linear;
    -moz-animation: nav-button-spin 0.3s linear;
}

@keyframes nav-button-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@-moz-keyframes nav-button-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes nav-button-spin { 100% { -webkit-transform: rotate(360deg); } }
