.Problem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    margin: 120px;
}

.Problem__Oops {
    font-weight: bold;
    color: var(--grey-dark);
    font-size: 28px;
    margin-bottom: 10px;
}

.Problem__Issue {
    font-weight: medium;
    color: var(--grey-mid);
    font-size: 22px;
    margin-bottom: 40px;
}

.Problem__Button {
    cursor: pointer;
    width: 180px;
    height: 50px;
    background-color: var(--accent-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
