.Question {
    width: 100%;
    margin-bottom: 30px;
}

.Question__Header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.Question__Prompt {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: normal;
    overflow: hidden;
}
