.Question {
    width: 100%;
    margin-bottom: 30px;
}

.Question__Header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.Question__Header h1 {
    font-size: 28px;
    font-weight: bold;
}

.Question__Timer {
    color: var(--grey-mid);
}

.Question__Prompt {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: normal;
    overflow: hidden;
}
