:root {
  /* Colors: */
  --white: #FFFFFF;
  --grey-light: #EFEFEF;
  --grey-mid: #A7A7A7;
  --grey-dark: #2E2E2E;
  --accent-green: #48D439;
  --accent-red: #FF3717;
  --accent-blue: #34BAE6;
  --blue-grad-start: #4BDAE0;
  --blue-grad-end: #1E9CEB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
